<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shopping Cart</title>
  <link rel="stylesheet" href="framework/bootstrap/css/bootstrap.min.css" />
  <style>
      .row{
        margin-top: 20px;
      }
  </style>
</head>
<body>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal" ng-controller="myCtrl">
          <div ng-repeat="item in items">
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">{{item.title}}</label>
              <div class="col-sm-4">
                <input ng-model="item.quantity"  type="number" class="form-control" id="" placeholder="">
                  {{item.quantity*item.price | currency:"￥"}}
              </div>
              <button ng-click="remove($index)" class="btn btn-danger">remove</button>
            </div>
          </div>
          <blockquote>
          <div>Total: {{totalCart() | currency:"￥"}}</div>
          <div>Discount: {{discount | currency:"￥"}}</div>
          <div>Subtotal: {{subtotal() | currency:"￥"}}</div>
          </blockquote>

          <blockquote>
          <div>Total:<span ng-bind="totalCart() | currency:'￥'"></span></div>
          <div>Discount:<span ng-bind="discount | currency:'￥'"></span></div>
          <div>Subtotal: <span ng-bind="subtotal() | currency:'￥'"></span></div>
          </blockquote>

      </form>
    </div>
  </div>


  <!-- <div class="form-group">
    <label for="" class="col-sm-2 control-label"><pre>ng-bind VS "{"{""}"}"}"</pre></label>
    <div class="col-sm-4">
        <input type="text" class="form-control" ng-model="name">
        <p>{{name}}</p>
        <input type="text" class="form-control" ng-model="name">
        <p ng-bind="name"></p>
        <pre>
          使用"{"{""}"}"}"进行插值操作时，当页面还未渲染出来时，我们会看到双花括号里面的值，
          但是使用ng-bind不会出现这种问题。
          因为angualr是在页面渲染加载完成后，才开始执行的。
        </pre>
    </div>
  </div> -->









<script src="framework/angular.js"></script>
<script src="js/cart.js"></script>
</body>
</html>
