<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>directive</title>
  <link rel="stylesheet" href="framework/bootstrap/css/bootstrap.min.css" />
</head>
<body ng-controller="dirCtrl">

    <div class="container">

      <button class="btn btn-default" ng-click="clickUnfocused()">Not focused</button>
      <button class="btn btn-success" ngbk-focus ng-click="clickFocused()">I'm very focused!</button>
      <div ng-bind="message.text"></div>

    </div>















<script src="framework/angular.js"></script>
<script src="js/directive.js"></script>
</body>
</html>
