<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ng-bind</title>
  <link rel="stylesheet" href="framework/bootstrap/css/bootstrap.min.css" />
  <style>
      .form-group{
        margin-top: 20px;
      }
  </style>
</head>
<body>





  <div class="form-group">
    <label for="" class="col-sm-2 control-label"><pre>ng-bind VS "{"{""}"}"}"</pre></label>
    <div class="col-sm-4">
        <input type="text" class="form-control" ng-model="name">
        <p>{{name}}</p>
        <input type="text" class="form-control" ng-model="name">
        <p ng-bind="name"></p>
        <pre>
          使用"{"{""}"}"}"进行插值操作时，当页面还未渲染出来时，我们会看到双花括号里面的值，
          但是使用ng-bind不会出现这种问题。
          因为angualr是在页面渲染加载完成后，才开始执行的。
        </pre>
    </div>
  </div>









<script src="framework/angular.js"></script>
</body>
</html>
